body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Top portion of website */

.header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    height: 50px;
}

.left-header {
    margin-left: 550px;
    margin-right: 325px;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #f9faf8;
    background-color: #1f2937;
}

h1 {
    margin: 0;
}

.subheader-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
    margin-right: 100px;
}

.awesome-subtext {
    color: #f9faf8d8;
    width: 325px;
}

.placeholder {
    height: 150px;
    width: 400px;
    margin-left: 100px;
    background-color: #e5e7eb44;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End Top, begin Main One */

.main-one {
    height: 300px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 50px;
}

.img-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    height: 125px;
    width: 125px;
    border: 3px #3882F6;
    border-style: solid;
    border-radius: 10px;
    color: #3882F6;
}

.card {
    width: 140px;
    color: rgba(1, 11, 12, 0.712);
}


/*End Main One, begin Main Two */
.main-two {
    height: 200px;
    background-color: #e5e7eb;
}
.main-three {
    height: 100px;
    margin-bottom: 0;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

button {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px;
}

.button-one {
    color: #e5e7eb;
    background-color: #3882F6;
}
