body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    height: 50px;
}

.left-header {
    margin-left: 550px;
    margin-right: 325px;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #f9faf8;
    background-color: #1f2937;
}

h1 {
    margin: 0;
}

.subheader-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
    margin-right: 100px;
}

.awesome-subtext {
    color: #f9faf8d8;
    width: 325px;
}

.placeholder {
    height: 150px;
    width: 400px;
    margin-left: 100px;
    background-color: #e5e7eb44;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-one {
    height: 200px;
}
.main-two {
    height: 200px;
    background-color: #e5e7eb;
}
.main-three {
    height: 100px;
    margin-bottom: 0;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

button {
    align-self: baseline;
}
